@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This is a great store. You should totally buy out products.
    This store is facist. All are employs are little children in China.
    We pay them almost nothing and make a huge profit.
</p>

<div class="fb-share-button" 
    data-href="@ViewData["ShareUrl"]"
    data-layout="button" data-size="large" data-mobile-iframe="true">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" 
    class="fb-xfbml-parse-ignore">
        Share
    </a>
</div>
