@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Hydra pop!</h1>
    <p>In Hydra pop you can find all of the figures you have ever wanted!</p>
</div>

<div style="margin: 35px">
    @Html.Partial("ProductsCarousel")
</div>
@Html.Partial("Category")
