@model IEnumerable<Hydra.Models.Product>

@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<select id="storeRole" class="form-control" name="storeRole">
    @{
        foreach (Store currStore in ViewBag.stores)
        {
            <option value="@currStore.ID">@currStore.Name</option>
        }
    }
</select>
<h2>All products in the catalog</h2>
<div class="row">
    @{
        foreach (var currProduct in Model)
        {
            <div class="product-item-box col-lg-4 col-md-4 col-xs-4 thumb">
                <img class="product-item-image" src=@Html.DisplayFor(model => currProduct.ImageUrl) alt="img1">
                <p>
                    @Html.ActionLink(currProduct.Name, "Details", "Product", new { id = currProduct.ID })
                </p>
            </div>
        }
    }
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-controller="Store" asp-action="Index">Back to Store</a> |
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>