@model IEnumerable<Hydra.Models.Product>

@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Model.All(p => p.Category == Model.ElementAt(0).Category))
    {
        <h2>All products in the catalog from the @Model.ElementAt(0).Category</h2>
    }
    else
    {
        <h2>All products in the catalog</h2>
    }
}
<div class="row">
    @{
        foreach (var currProduct in Model)
        {
            <div class="product-item-box col-lg-4 col-md-4 col-xs-4 thumb">
                <img class="product-item-img" src=@Html.DisplayFor(model => currProduct.ImageUrl) alt="img1">
                <p>
                    @Html.ActionLink(currProduct.Name, "Details", "Product", new { id = currProduct.ID })
                </p>
            </div>
        }
    }
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>